.card {
    /* max-width: 400px;
    min-width: 300px; */
    width: 20rem;
    margin: 2rem;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 25px -2px rgba(0, 0, 0, 0.185);
}

.cardPres {
    position: relative;
    height: 13rem;
    width: 100%;
}

.cardPrice {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    color: white;
    margin-left: 15px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.cardPrice span {
    font-size: 0.9rem;
    font-weight: 500;
}

.cardAme {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.cardAme span {
    margin-left: 5px;
    margin-right: 15px;
}

.cardImg {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    /* width: 20rem; */
    width: 100%;
    overflow: hidden;
}

.cardImg img {
    opacity: 0.8;
    height: 100%;
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.cardImg img:hover {
    height: 100%;
    transform: scale(1.25);
}

.cardBody {
    color: rgba(0, 0, 0, 0.808);
    padding: 1rem 1.2rem 1.5rem 1.2rem;
    position: relative;
}

.cardBody p {
    margin: 0.6rem 0;
    display: inline;
}

.cardTitle {
    margin: 0.25rem 0 0.25rem 0;
}

.cardTitle span:hover {
    color: rgb(128, 128, 128);
    /* color: #f0384a; */
    cursor: pointer;
}

.cardHeart i {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.7rem;
    color: #f0384a;
}